@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&display=swap');

:root {

--Softorange: hsl(35, 77%, 62%);
--Softred: hsl(5, 85%, 63%);
--Off-white: hsl(36, 100%, 99%);
--Grayishblue: hsl(233, 8%, 79%);
--Darkgrayishblue: hsl(236, 13%, 42%);
--Verydarkblue: hsl(240, 100%, 5%);
--font-family: 'Inter', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 15px;
    font-family: 'Inter', sans-serif;
    overflow-x: hidden;
}


/* Start */

main {
    width: 340px;
    margin: 0 auto;
    padding: 10px;
    max-width: 480px;
    
}

img {
    width: 30px;
}


.desktop-nav {
    display: none;
}

#navBarUl {
    position: absolute;
    left: 130px;
    background-color: white;
    color: var(--Verydarkblue);
    list-style: none;
    width: 100%;
    height: 250%;
    display: none;
    top: 0;
    padding: 20px;
    -webkit-box-shadow: -200px -15px 5px 62px rgba(61,48,61,0.45);
    -moz-box-shadow: -200px -15px 5px 62px rgba(61,48,61,0.45);
    box-shadow: -200px -15px 5px 62px rgba(61,48,61,0.45);
    animation: left 1s;
    overflow: hidden;
}

ul li {
    margin-bottom: 20px;
    font-size: 20px;
}



.li-container {
    margin-top: 100px;
}



.icon-close-container img {
    width: 30px;
    position: absolute;
    left: 180px;
    top: 30px; 
    animation: animation 2s;
}


     @-webkit-keyframes right { from { -webkit-transform: translateX(0px); }
     to {  -webkit-transform: translateX(150px);  }}
    
     @-webkit-keyframes left { from { -webkit-transform: translateX(120px); }
     to {  -webkit-transform: translateX(0px);  }}

@keyframes animation {
    10% {
        transform: rotate(-89deg);
        
    }

    90% {
        transform: rotate(-89deg);
      
    }
}


@keyframes navbarCollapse {
    10% {
        margin-left: -10px;
    }

    100% {
        margin-left: 0px;
    }
}


nav {
   margin-top: 30px;
    margin-left: 0px;
    margin-bottom: 30px;
    
}

.nashe {
    display: flex;
    gap: 16rem;
    max-width: 100%;
}



.nashe img {
    width: 30px;
}

.nashe img:second-child {
    width: 10px;
}

.hero img {
    width: 100%;
    border-radius: 8px;
}

/* First card */

.first-card {
    
}

.first-card h1 {
    color: var(--Verydarkblue);
    font-size: 40px;
    padding-right: 100px;
    margin-top: 10px;
    font-weight: 800;
    line-height: 2.6rem;
    margin-bottom: 10px;
}



.first-card p {
    color: var(--Darkgrayishblue);
    line-height: 1.5rem;
    margin-right: 40px;
    margin-bottom: 20px;
}

.first-card button {
    padding: 15px;
    width: 50%;
    border: none;
    background-color: var(--Softred);
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: .1rem;
    margin-bottom: 50px;
}

/* Second body */

.second-card {
    background-color: var(--Verydarkblue);
    padding: 20px;
    color: white;
    height: 100%;
    width: 295px;
}

.second-card h2 {
    color: var(--Softorange);
    font-size: 25px;
    margin-bottom: 20px;
}

strong {
    font-weight: 800;
    font-size: 19px;
    padding-top: 20px;
}



.first-div {
    padding-right: 50px;
    margin-bottom: 40px;
    
}

.first-div p,
.second-div p,
.third-div p {
    margin-top: 10px;
    color: var(--Grayishblue);
}

.second-div strong {
}

.third-div {
    margin-top: 40px;
}

.third-div strong,
.second-div strong {
    
}

hr {
    display: flex;
    margin-bottom: 30px;
    margin-top: 30px;
}

/* Third body */

.third-card {
    margin-top: 60px;
}

.third-card img {
    width: 90px;
}

.first-bottom-div,
.second-bottom-div,
.third-bottom-div {
    display: flex;
    margin-bottom: 20px;
    padding-right: 50px;
}

.text {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}

h2,
h3,
h4 {
    color: var(--Grayishblue);
}

span {
    color: var(--Verydarkblue);
    font-weight: 800;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 17px;
}

.third-card p {
    color: var(--Darkgrayishblue);
}

/* Desktop Design */

@media screen and (min-width: 735px) {
    .container {
        display: grid;
        width: 100%;
        padding-left: 250px;
        padding-right: 250px;
        margin-top: 20px;
        max-width: 100%;
        overflow-x: hidden;
    }

    .nashe {
        max-width: 100%;
    }

    .hamburger-icon {
        display: none;
    }

    .logo {
        width: 50px;
    }

    nav {
        display: flex;
        gap: 25rem;
        text-align: center;
        align-items: center;
        margin-top: 30px;
        margin-bottom: 30px;
        margin-left: 0;
    }


    .desktop-nav {
        display: block;
        height: 0px;
        margin-left: 150px;
        margin-right: 150px;
    }

    .desktop-nav ul{
        display: flex;
        list-style: none;
        gap: 2rem;
        
    }

    .desktop-nav ul li {
        font-size: 15px;
    }
    

    #navBarUl {
        display: none;
    }

    .icon-close-container {
        display: none;
    }

    ul li {
        color: var(--Darkgrayishblue);
    }

    

    

    .logo {
        margin-right: 200px;
    }

    ul li:hover {
        color: var(--Softred);
        cursor: pointer;
    }

    .hero {
       grid-row: 1 / -1;
        width: 45rem;
        content: url(/assets/images/image-web-3-desktop.jpg);
        margin-right: 20px;
    }

    .hero img {
        width: 100%;
        height: 450px;
    }

    header {
        grid-row: 1 / -3;
        
    }

    .title-desc {
        display: flex;
        height: 100%;
        width: 97%;
        gap: 2rem;
    }

    .title-desc h1 {
        font-size: 50px;
        line-height: 3rem;
        padding-right: 0;
        margin-left: 0;
        width: 330px;
        margin-top: 30px;
    }

    .desc-button {
       margin: 20px;
       margin-left: 0;
       line-height: 1.5rem;
      width: 400px;
      height: 200px;
        
    }

    .desc-button button {
        width: 50%;
        transition: all 300ms;
        margin-top: 20px;
    }

    .desc-button button:hover {
        background-color: black;
        cursor: pointer;
        transform: scale(1.03);
    }

    .first-card {
        width: 100%;
        flex-direction: row;
    }
    

    .second-card {
        grid-row: -3 / 3;
        width: 350px;
        height: 55%;
        font-size: 13px;
        margin-top: 85px;
        position: absolute;
        left: 1000px;
    
    }

  

    .second-card h2 {
        font-size: 40px;
        border: none;
    }

    .second-card strong {
        border: none;
        transition: all .5s; 
    }

    .second-card strong:hover {
        color: var(--Softred);
        cursor: pointer;
    }
    .second-div {
        margin: 0;
    }

    .second-card p {
        margin-bottom: 20px;
        transition: all .5s; 
    }
    

    hr {
        padding: 0;
        margin-top: 30px;
        margin-bottom: 30px;
    }

    .second-div,
    .third-div {
        margin: 0px 0px;
        margin-bottom: 0px;
    }

    .first-div {
        padding-right: 50px;
        margin-bottom: 0;
        
    }

   

    /* Images Bottom =?================= */
    

    .third-card {
        display: flex;
        margin-top: 0;
        width: 70%;
    }

    .third-card span:hover {
        color: var(--Softred);
        cursor: pointer;
    }
    .third-card img {
        filter: grayscale(2.0);
        transition: all .5s; 
        border-radius: 8px;
    }
    

    .third-card img:hover {
        filter:grayscale(0);
        transform: scale(1.2);
        transition: .5s filter linear transform .5s;;
    }
    
}